body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    margin: 0 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
    /* text-align: center; */
    font-weight: bold;
}

td, th {
text-align: center;
vertical-align: middle;
height: 40px;
}

table, th, td {
    border: 1px solid rgb(47, 170, 57);
}

table thead {
    background-color: rgb(120, 230, 129);
    color: white;
    line-height: 20px;
}

table tbody tr {
    line-height: 30px;
}

table tbody tr td {
    padding-left: 50px;
}

.red {
    color: red;
}

.red1 {
    color: red;
    font-weight: normal;
}