body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.tygia {
    width: 100%;
    border-collapse: collapse;
    font-size: 15px;
    text-align: center;
}

.tygia th {
    background: #0072c6;      
    color: white;
    font-weight: bold;
    border: 1px solid white;
    padding: 10px 5px;
}

.tygia td {
    border: 1px solid #d9d9d9;
    padding: 10px 5px;
    background: #f0ecec;
    color: #2f2d2d;
}


.tygia tr:nth-child(even) td {
    background: #f7f9fc;
}


.tygia td:first-child {
    text-align: left;
    padding-left: 12px;
}

table, th, td {
    border: 1px solid rgb(45, 140, 184);
}
